

@media screen and (max-width: 770px) {
    .NavBar {
        display: none;
    }
    .NavBarM {
        display: flex !important;
    }
    .AboutHeaderSplit {
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .FaceImage {
        transform: translateX(0rem);
        width: 100%;
        margin-top: 2rem;
        border-radius: 0;
    }
    .ProfilePhoto {
        transform: translateX(0rem);
    }
    .Hello {
        width: fit-content;
    }
    .HelloText {
        font-size: 400%;
    }
    .ProfilePhoto{
        margin: 3rem;
    }
    .AboutText {
        width: 70%;
    }
    p {
        text-indent: 2rem;
    }
    .SchoolDiv {
        flex-direction: column;
        height: fit-content;
    }
    .ShoolContent {
        flex-direction: column;
    }
    .SchoolBox {
        height: fit-content;
    }
    .SchoolLogoBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 2rem;
    }
    .SkillsDisplay {
        transform: translateX(0rem);
        margin: 2rem;
    }
    .TeamDisplay {
        transform: translateX(0rem);
    }
    
    .SkillsDiv {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .SkillsLeftDiv {
        width: 100%;
    }



    .ContactBox {
        flex-direction: column;
    }
}



.NavBarM {
    /* padding-top: 2.5rem; */
    position:fixed;
    width: 3rem;
    height: 100vh;
    top: 0vh;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    z-index: 2;
}

.NavBarM:before{
    position:absolute;
    z-index:-1;
    top:0;
    left:25%;
    width:50%;
    height:100%;
    content:"";
    background-color:white;
}